const templateavislegal = function(avislegal,pepe){
    return `
<div class="row">
   
        <h1>Condicions generals d'ús del lloc web Informatica.s.l</h1>
        ${avislegal.map((avislegal) =>{
            return`

            <div>${avislegal.content}</div>`


        }).join('')}
    
</div>`
}
export {templateavislegal}

