let templatecar= function(datosEmpresacar) {
    return `

    <link href="styles/jumbotron.css" rel="stylesheet">
    <div>
      <div class="carousel">
          <ul class="slides">
              <input type="radio" name="radio-buttons" id="img-1" checked />
              <li class="slide-container">
                  <div class="slide-image">
                      <div class="slider">
               

                            ${datosEmpresacar.map((datosEmpresacar) =>{
                                return`
                    
                                <div class="slide-image"><img src="${datosEmpresacar.image}"></img></div>
                                <div class="texto-encima" >${datosEmpresacar.content}</div>`
                    
                    
                             }).join('')}
                
                </div>
                    </div>
                  <div class="carousel-controls">
                      <label for="img-1" class="prev-slide">
                          <span>&lsaquo;</span>
                      </label>
                      <label for="img-2" class="next-slide"  >
                        <span>&rsaquo;</span>
                      </label>
                  </div>
              </li>
              <input type="radio" name="radio-buttons" id="img-2" />
              <li class="slide-container">
                  <div class="slide-image">
                      <img src="./images/ubicacio.jpg">
                  </div>
                  <div class="carousel-controls">
                      <label for="img-1" class="prev-slide">
                          <span>&lsaquo;</span>
                      </label>
                      <label for="img-3" class="next-slide">
                          <span>&rsaquo;</span>
                      </label>
                  </div>
              </li>
              <div class="carousel-dots">
                  <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                  <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
              </div>
          </ul>
      </div>
  </div>
  
    
      `;
    }
    export {templatecar};