let template= function(datosEmpresa) {
return `




<div class="col-md-4" >
    
    
  <form  name="form_product" method="POST" action="index.html" id="from_product" class="load">

  <label for="name">Name</label> 
      
  <br>

  <input  name="name" placeholder="name" type="text" id="name" required>	
  <span id="errorname"  style="color:red"></span>
  
  <br>
  
  <label for="phone">Phone number</label>
  <br>
  <input  name="phone" placeholder="phone number" type="number" id="phone" required>	
  <span id="errorphone"  style="color:red"></span>
  <br>

  <label for="Email">Email</label>
  <br>
  <input  name="email" placeholder="email" type="email" id="email" required>	
  <span id="erroremail"  style="color:red"></span>

  <br>

  <label for="textarea">Description</label>

  <br>

  <textarea  name="textarea" type="text" id="textarea"></textarea>
  <span id="errortextarea"  style="color:red"></span>

  <br><br>

  
  <input type="button" name="SubmitContact" value="contact" id="button"></input>
</form>

</div>
<div class="col-md-4">
  <div  id="map">
    </div>
  </div>


  `;
}
export {template};