const templatecookies = function(cookies){
    return `
<div class="row">
   
     
        ${cookies.map((cookies) =>{
            return`

            <h1>Política de ${cookies.key} de Informatica.s.l</h1>
            <div>${cookies.content}</div>`


        }).join('')}
    
</div>`
}
export {templatecookies}


