
 let template= function(footer,datosEmpresafooterfacetwitt) {
    return `


         ${footer.map((footer) =>{
            return`


            <a class="col-md-4"  id=${footer.key} href="http://localhost:8080/#${footer.key.replace(" ", "").toLowerCase()}">${footer.key}</a>`


         }).join('')}



        </span class="col-md-4">
            ${datosEmpresafooterfacetwitt.facebook ?
                `
                <a href=${datosEmpresafooterfacetwitt.facebook} >  <img src="./images/facebook.png"></a>`        
                :
                ``
            }
        </span >
        <span class="col-md-4">

                ${datosEmpresafooterfacetwitt.twitter?
                    `
                    <a href=${datosEmpresafooterfacetwitt.twitter} > <img src="./images/twitter.png"></a>`
                    :
                    ``
                }
        </span>           
        `
  }
  
    export {template};
  
  