
 let template= function(home) {
  return `

 <div class="col-md-4" >
    <h2>${home[0].caja_derecha_titulo}</h2>
    <p>${home[0].caja_derecha_texto}</p>
  
  </div> 
  
    <div class="col-md-4">
    <h2>${home[0].caja_izquierda_titulo}</h2>
    <p>${home[0].caja_izquierda_texto}</p>
  
  </div> 
  `;
}

  export {template};


  