const templatenosaltres = function(nosaltres){
    return `
<div class="row">
    
    
        
        ${nosaltres.map((nosaltres) =>{
            return`

            <h1>${nosaltres.key}</h1>
            <div>${nosaltres.content}</div>`


        }).join('')}
    
 </div>`
}
export {templatenosaltres}
