const templatetarifa = function(tarifa){
    return `
<div class="row">
    ${tarifa.map((tarifa)=>{
        return `
        <div class="col-md-6">
            <img src="${tarifa.logo}" style="width:50px">
            <h1>${tarifa.nombretarifa}</h1>
            <h3>Precio ${tarifa.precio}</h3>
            ${tarifa.subtarifas.map((subtarifas)=>{
                return `
                <p>${subtarifas.tipo_tarifa}</p>`
            }).join('')}
        </div>`
    
    }).join('')}
</div>`

}
export {templatetarifa}
